    h1{
      border-bottom: 1px black solid;
      text-align: center;
      padding:20px;
      margin:0px;
    }
    ol{
      border-right: 1px black solid;
      padding: 40px;
      width: 70px;
      margin:0px;    
    }
    a{
      text-decoration: none;
      color:cadetblue;
    }
    #p{
      display:grid;
      grid-template-columns: 180px 1fr;
    }
    #p{
      padding-left:30px;
    }
    @media(max-width:500px){
      #p{display:block;}
      ol{border-right: none;}
      h1{border-bottom: none;}
    }
    